@keyframes load {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.mainContainer {
 animation: load 800ms forwards;
  display: block;
  width: 100%;
  min-height: 100vh;
}